{{define "yield"}}
<br />
<div class="row">
    <div class="col-md-12">
        <h1>{{.Title}}</h1>
        <hr />
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Images Coming Soon</h3>
  </div>
</div>
<style>
</style>
{{end}}%
